@model System.Collections.Generic.IList<NetworkTreeWebApp.Data.Account>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Accounts</h1>
<div>
    <form class="form" asp-action="Index" method="POST">
        <label>Add multiple standard</label>
        <input type="number" id="num-input" name="number" />
        <input type="text" id="prefix-input" name="prefix" />
        <input type="submit" />
    </form>
</div>
<div>
    <form class="form" asp-action="CreateHierarchyMulti" method="POST">
        <label>Add multiple hierarchy</label>
        <input type="number" id="h-num-input" name="number" />
        <input type="text" id="h-prefix-input" name="prefix" />
        <input type="submit" />
    </form>
</div>
<hr/>
<div>
    <form class="form" asp-action="CreateAccount" method="POST">
        <p>Add single standard</p>
        <input type="number" id="sp-input" name="sponsorId", placeholder="Sponsor ID" />
        <input type="text" id="nm-input" name="name" placeholder="Account name" />
        <input type="number" id="pref-input" name="placement" placeholder="Placement preference" />
        <input type="submit" />
    </form>
</div>
<div>
    <form class="form" asp-action="CreateHierarchy" method="POST">
        <p>Add single hierarchy</p>
        <input type="number" id="h-sp-input" name="sponsorId", placeholder="Sponsor ID" />
        <input type="text" id="h-nm-input" name="name" placeholder="Account name" />
        <input type="number" id="h-pref-input" name="placement" placeholder="Placement preference" />
        <input type="submit" />
    </form>
</div>
<div>
    @if(Model.Count > 0)
    {
        <h4>Stats</h4>
        <p>Total accounts: @Model.Count</p>
        <p>First: (id)@Model[0].Id -- (name)@Model[0].Name -- (parent)@Model[0].ParentId --</p>
        <p>Last: (id)@Model[Model.Count-1].Id -- (name)@Model[Model.Count-1].Name -- (parent)@Model[Model.Count-1].ParentId</p>
    }
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/bootstrap-treeview-1.2.0/dist/bootstrap-treeview.min.js"></script>
}